.container_formpage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.forms_div-title {
  margin: 0;
  font-weight: 600;
}

.forms_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.forms_div-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.forms_div-column .wrapper_radios {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.forms_div-column .wrapper_radios div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.forms_div-column .wrapper_radios div p {
  margin: 0;
}

.form-price ,
.form-count {
  justify-content: unset;
}

.form-price input,
.form-count input {
  width: 50px;
}

.btnForm {
  background-color: #385c78;
  border-radius: 5px;
  z-index: 10;
  color: gold;
  text-align: center;
  padding: 5px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_createdCrads {
  margin-bottom: 15px;
  width: 100%;
}

.container_createdCrads h3 {
  text-align: center;
}

.wrapper_cardList{
  margin: 20px auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cardForm {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
  width: 220px;
  height: 368px;
  box-sizing: border-box;
}

.card-descriptionForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.image-productForm {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 5px;
  margin: 10px 0;
}

.total-description-productForm {
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  width: 100%;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-productForm{
  text-align: center;
  margin: 0 0 10px 0;
}

.description-productForm{
  margin: 0;
  font-size: 14px;
  width: 100%;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.category-productForm {
  margin-top: 10px;
  font-size: 14px;
}

.rating-productForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
}

.price-productForm{
  margin: 0;
}
.count-productForm{
  margin: 0;
}

.availability-date_productForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
}

.modalWindow {
  display: none;

  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  width: 200px;
  margin: auto;
  border-radius: 1px solid black;
  background-color: #385c78;
  box-shadow: 0px 0px 3px 5px #385c78c4;
  z-index: 10;
  color: gold;
  text-align: center;
}

.modalWindow.active {
  display: block;
}

@media (max-width: 500px){
  .wrapper_cardList{
    width: 98%;
    gap: 10px;
  }

  .cardForm {
    width: 175px;
    height: 368px;
  }

  .total-description-productForm {
    padding: 0 5px 10px 5px;
  }
}


 

